@font-face {
    font-family: B612;
    src: url("fonts/B612-Regular.ttf");
}
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
.mainProf, .introduce{
    font-family: B612, serif;
}
h1, h2, h3, h4, h5{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
header{
    background-image: url("images/796843.png");
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
.header{
    text-align: center;
    margin-top: 20px;
    font-family: serif;
}
.introduce{
    word-break: break-word;
    hyphens: manual;
    -moz-hyphens: manual;
    line-height: 30px;
    text-indent: 5px;
    text-align: justify;
}
@media screen and (max-width: 2000px){
    .introduce{
        padding: 0 400px;
    }
}
@media screen and (max-width: 1500px){
    .introduce{
        padding: 0 200px;
    }
}
@media screen and (max-width: 1000px){
    .introduce{
        padding: 0 100px;
    }
}
@media screen and (max-width: 500px){
    .introduce{
        padding: 0 50px;
    }
}
.introduce ul{
    margin: 20px 0;
    list-style-type: none;
}
ul img{
    width: 20px;
    height: 20px;
    float: left;
}
ul li{
    margin: 20px;
}
section{
    text-align: center;
    margin-top: 50px;
}
.mainProf{
    margin-top: 40px;
    line-height: 30px;
}
.mainProf img{
    border-radius: 50%;
    margin: 10px 0;
    filter: grayscale(100%);
}
.skills img{
    border: 4px solid #EEEEEE;
    margin: 30px;
    width: 5cm;
    height: 5cm;
    border-radius: 5px;
    transition: border-color .75s, box-shadow .75s;
    cursor: pointer;
}
.skills img:hover{
    border-color: #777777;
    box-shadow: 0 0 10px gray;
}
footer{
    background-color: black;
    height: 100px;
    position: relative;
    overflow: visible;
}
.links{
    position: absolute;
    width: 100%;
    text-align: center;
}
.links img{
    width: 30px;
    height: 30px;
}
footer .footerText{
    width: 100%;
    color: white;
    position: absolute;
    top: 80%;
    text-align: center;
}

.Terminal{
    text-align: left;
    background-color: #333333;
    border: 2px solid black;
    color: white;
    margin: 20px auto;
    padding: 0;
    max-width: 1000px;
    height: 100px;
}

#typed-strings, #typed, #span{
    float: left;
}