@font-face {
    font-family: B612;
    src: url("fonts/B612-Regular.ttf");
}
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: B612, serif;
}
header{
    background-image: url("images/796843.png");
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
.header{
    text-align: center;
    margin-top: 20px;
    font-family: serif;
}
section{
    text-align: center;
    margin-top: 50px;
}
.mainProf{
    margin-top: 40px;
}
.mainProf img{
    border-radius: 50%;
    margin: 10px 0;
}
.skills img{
    border: 4px solid #EEEEEE;
    margin: 30px;
    width: 5cm;
    height: 5cm;
    border-radius: 5px;
    transition: border-color .5s;
    cursor: pointer;
}
.skills img:hover{
    border-color: #777777;
}
footer{
    background-color: black;
    height: 100px;
    position: relative;
    overflow: visible;
}
.links{
    position: absolute;
    top: -50px;
}
footer .footerText{
    width: 100%;
    color: white;
    position: absolute;
    top: 80%;
    text-align: center;
}