@font-face {
    font-family: B612;
    src: url("fonts/B612-Regular.ttf");
}

@font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolata-Black.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: B612, serif;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.menu:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 6000px rgba(255, 255, 255, .3);
    margin: -20px;
}

.menu a{
    padding: 10px 0;
    width: 33%;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    float: left;
    color: cornflowerblue;
    text-align: center;
}

.menu a:hover{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .6);
}

header{
    background-image: url("images/796843.png");
    background-attachment: fixed;
    padding: 100px 0;
}

.prof-container{
    text-align: center;
    color: cornflowerblue;
    font-size: 26px;
    font-weight: bold;
}

#myImage{
    margin: auto;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.links img{
    width: 50px;
    height: 50px;
    margin: 5px auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #444444;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

section{
    background-color: black;
    color: white;
    text-align: left;
}

.introduce h4{
    padding: 40px;
    text-align: center;
}


@media screen and (min-width: 900px){
    section{
        padding: 20px 200px;
    }
}

@media screen and (min-width: 480px) and (max-width: 900px){
    section{
        padding: 30px 80px;
    }
}

@media screen and (min-width: 0) and (max-width: 480px)  {
    section{
        padding: 30px 50px;
    }
}

.introduce{
    text-align: justify;
}

.introduce ul{
    list-style-type: none;
}

.introduce li{
    margin: 15px;
}

ul img{
    width: 20px;
    height: 20px;
    float: left;
}

.terminal h3{
    padding: 10px;
    text-align: center;
}

code{
    height: 60px;
}

code span{
    font-family: Inconsolata;
    font-size: 18px;
}

section h2{
    text-align: center;
}

.skills{
    text-align: center;
}

.skills img{
    border: 4px solid #555555;
    margin: 30px;
    width: 5cm;
    height: 5cm;
    border-radius: 5px;
    transition: border-color .25s, box-shadow .25s;
    text-align: center;
    cursor: pointer;
}
.skills img:hover{
    border-color: tan;
    box-shadow: 0 0 30px tan;
}

footer{
    padding: 40px 0;
    background-color: black;
    color: white;
    text-align: center;
    border-top: darkslategrey dashed 4px;
}

.footer-container * {
    margin: 0;
    display: block;
}

#heart{
    font-family: B612, serif;
    color: red;
    animation: a1 2s infinite;
}

@keyframes a1 {
    0%{
        font-size: 14px;
    }
    10%{
        font-size: 16px;
    }
    20%{
        font-size: 18px;
    }
    30%{
        font-size: 16px;
    }
    40%{
        font-size: 14px;
    }
    50%{
        font-size: 16px;
    }
    60%{
        font-size: 18px;
    }
    70%{
        font-size: 16px;
    }
    80%{
        font-size: 14px;
    }
    100%{
        font-size: 14px;
    }
}